body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

html{
  font-size: 62.5%;
}

*, *::after, *::before{
  margin: 0;
  border: none;
  outline: none;
  padding: 0;
  text-decoration: none;
  font-size: 1.6rem;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}